<% layout("layouts/boilerplate")%>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="user[email]">email</label>
        <input type="email" name="user[email]" id="user[email]">
        <br>
        <label for="user[username]">Username</label>
        <input type="text" name="user[username]" id="user[username]">
        <br>
        <label for="user[password]">Password</label>
        <input type="password" name="user[password]" id="user[password]">
        <button>Submit</button>
    </form>