<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Workouts</title>
</head>

<body>
    <h1>Free training plans from Eric</h1>
    <% for (let w of workouts) {%>
        <h2>
            <%=w.session%>
        </h2>
        <p>
            <%= w.description %>
                <br>
                <a href="workouts/<%= w._id%> ">Show Workout</a>
        </p>
        <% } %>
</body>

</html>