<% layout("layouts/boilerplate")%>
    <% for (let w of workouts) {%>
        <h2>
            <%=w.session%>
        </h2>
        <p>
            <%= w.description %>
                <br>
                <a href="workouts/<%= w._id%> ">Show Workout</a>
        </p>
        <% } %>