<% layout("layouts/boilerplate")%>
    <%for (let w=0; w < allWorkouts.workouts.length; w ++) {%>
        <div>
            <a href="/programs/<%=allWorkouts._id%>/workouts/<%=allWorkouts.workouts[w]._id%>">
                <%= allWorkouts.workouts[w].session%>
            </a>
        </div>
        <% } %>