<% layout("layouts/boilerplate")%>
    <h1>
        <%= workout.session %>
    </h1>
    <table>
        <thead>
            <tr>
                <td>Exercises</td>
                <td>Sets</td>
                <td>Reps</td>
            </tr>
        </thead>
        <tbody>
            <% for (let e of workout.exercises) { %>
                <tr>
                    <td>
                        <%= e.exercise %>
                    </td>
                    <td>
                        <%= e.reps %>
                    </td>
                    <td>
                        <%= e.sets %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>