<% layout("layouts/boilerplate")%>
    <h1>All Programs</h1>
    <% for (let p of programs) {%>
        <div>
            <a href="/programs/<%=p._id%>/workouts">
                <%= p.title %>
            </a>

        </div>
        <% } %>