<% layout("layouts/boilerplate")%>
    <h1>All Programs</h1>
    <div>
        <% for (let p=programs.length -1; p>= 0; p--) {%>
            <div>
                <a href="/programs/<%=programs[p]._id%>/workouts">
                    <%= programs[p].title %>
                </a>
            </div>
            <div>
                <%=programs[p].description%>
            </div>
    </div>
    <% } %>