<% layout("layouts/boilerplate")%>

    <form action="/programs" method="POST">
        <section>
            <label for="program[title]">Program Title</label>
            <input type="text" name="program[title]" id="program[title]">
            <br>
            <label for="program[description]">Program Summary</label>
            <textarea name="program[description]" id="program[description]" cols="40" rows="3"
                placeholder="What are the goals of this program?"></textarea>
        </section>
        <button>Submit</button>
    </form>