<% layout("layouts/boilerplate")%>

    <form action="/user/programs" method="POST">
        <section>
            <label for="program[title]">Program Title</label>
            <input type="text" name="program[title]" id="program[title]">
            <br>
            <label for="program[description]">Program Summary</label>
            <textarea name="program[description]" id="program[description]" cols="40" rows="3"
                placeholder="What are the goals of this program?"></textarea>
            <label for="program[public]">Make this program Public?</label>
            <select name="program[public]" id="program[public]">
                <option value="true">Yes</option>
                <option value="false" selected>No</option>
            </select>
        </section>
        <button>Submit</button>
    </form>